<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact MyIndiaOffers</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->

	<!--===============================================================================================-->
</head>

<body>


	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<div class="mio-logo-container">
				<img class="mio-logo rouded" src="https://lh3.googleusercontent.com/dfUjlDOfH66Bys-2M2kf3wPxK8EcY9dmfGwYRPiKglFfAQaj4eIDseFbT2U68Jcg-IXX=s180-rw">
				</div>
				<span class="contact100-form-title">
					Book your free trial for stores in 1 Min 
				</span>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Name</span>
					<input class="input100" type="text" name="name" placeholder="Enter your name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Store name is required">
					<span class="label-input100">Store name</span>
					<input class="input100" type="text" name="store_name" placeholder="Enter your store name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input">
					<span class="label-input100">Phone</span>
					<input class="input100" type="phone" name="phone" placeholder="Enter your phone number">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Place is required">
					<span class="label-input100">Place</span>
					<input class="input100" type="text" name="place" placeholder="Enter your place">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 input100-select">
					<span class="label-input100"> Select state</span>
					<div>

						<select class="custom-select place-select" name="country" id="stateSel" size="1">
							<option value="" selected="selected">Please select state</option>
						</select>
					</div>
					<span class="focus-input100"></span>

				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Select district</span>
					<div>
						<select class="custom-select place-select" name="district" id="districtSel" size="1">
							<option value="" selected="selected">Please select State first</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Message is required">
					<span class="label-input100">Number of stores</span>
					<br>
					<label class="radio-inline"><input type="radio" name="optradio" checked> 1</label>
					<label class="radio-inline"><input type="radio" name="optradio">1-5</label>
					<label class="radio-inline"><input type="radio" name="optradio">5-10</label>
					<label class="radio-inline"><input type="radio" name="optradio">Above 50</label>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Schedule for free trail
							</span>
						</button>
					</div>
				</div>
			</form>
			<div>
				By registering here, I agree to MyIndia offers.
				Terms and condition and Private policy.
			</div>
		</div>
	</div>



	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
</body>

</html>